/* .link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
} */

/* .social-links .link {
  color: teal;
}

.social-links .link:focus {
  color: orange;
} */

.social-links .link {
  color: teal;
}

/* Two or more selectors are separated by a comma */
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}

.schedule-body > th:hover,
tr:hover {
  background-color: tomato;
  color: white;
}

.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

.auto {
  cursor: auto;
}
.default {
  cursor: default;
}
.none {
  cursor: none;
}
.context-menu {
  cursor: context-menu;
}
.help {
  cursor: help;
}
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.wait {
  cursor: wait;
}
.cell {
  cursor: cell;
}
.crosshair {
  cursor: crosshair;
}
.text-text {
  cursor: text;
}
.vertical-text {
  cursor: vertical-text;
}
.alias {
  cursor: alias;
}
.copy {
  cursor: copy;
}
.move {
  cursor: move;
}
.no-drop {
  cursor: no-drop;
}
.not-allowed {
  cursor: not-allowed;
}
.all-scroll {
  cursor: all-scroll;
}
.col-resize {
  cursor: col-resize;
}
.row-resize {
  cursor: row-resize;
}
.n-resize {
  cursor: n-resize;
}
.e-resize {
  cursor: e-resize;
}
.s-resize {
  cursor: s-resize;
}
.w-resize {
  cursor: w-resize;
}
.ns-resize {
  cursor: ns-resize;
}
.ew-resize {
  cursor: ew-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.nesw-resize {
  cursor: nesw-resize;
}
.nwse-resize {
  cursor: nwse-resize;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cursors {
  display: flex;
  flex-wrap: wrap;
}

.cursors > div {
  flex: 200px;
  padding: 10px 2px;
  white-space: nowrap;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}

.cursors > div:hover {
  background: #eee;
}

code {
  display: inline-block;
  background-color: #eee;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 32px;
}

.schedule {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.text {
  background-color: tomato;
  color: white;
}

.post {
  color: green;
}

.post-link {
  color: inherit;
}

:root {
  --brand-color: #3f51b5;
}

.section {
  /* Other styles */
  border: 1px solid var(--brand-color);
}

.section-title {
  /* Other styles */
  color: var(--brand-color);
}

.section-title::before {
  /* Other styles */
  background-color: var(--brand-color);
}

.alert {
  --alert-text-color: black;
  --alert-accent-color: tomato;
}

.alert-text {
  color: var(--alert-text-color);
  border: 1px solid var(--alert-accent-color);
}

.alert-icon {
  background-color: var(--alert-accent-color);
}

/* body {
  font-family: sans-serif;
  line-height: 1.5;
} */

.alert {
  --alert-text-color: black;

  color: var(--alert-text-color);
}

.alert.success {
  --alert-text-color: green;
}

.alert.warning {
  --alert-text-color: orange;
}

.alert.error {
  --alert-text-color: red;
}

.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}

.site-nav .link {
  text-transform: uppercase;
}

.post-title {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

/* text-indent: value | percent | inherit */
.post-text {
  text-indent: 100px;
}

/* line-height: multiplier | value | percent | normal | inherit*/
.post-text {
  font-size: 16px;
  line-height: normal;
}

/* letter-spacing: value | normal | inherit */
.post-title {
  letter-spacing: 6px;
}

.post-text {
  letter-spacing: 2px;
  word-spacing: 10px;
}

/* text-shadow: <X offset>, <Y offset>, <blur radius>, <color> */
.title {
  font-size: 50px;
  font-weight: 900px;
  font-style: italic;
  color: #131313;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}

pre::selection {
  color: #ffffff;
  background-color: #091e91;
}
